body {
    font-family: Arial, sans-serif;
}

.navbar {
    padding: 15px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.page {
    display: none;
    text-align: center;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.btn-warning {
    font-size: 16px;
    padding: 10px 20px;
}

.btn-warning:hover {
    background-color: #e67e22;
}

footer {
    background: black;
    padding: 20px;
    text-align: center;
}
